<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.missingperson" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MissingPerson" >
        <activity
            android:name=".ContactUs"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".CheckFoundPerson"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReportFoundPerson"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CheckLostPerson"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ReportLostPerson"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>